*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    background-color: rgb(112, 107, 107);
    display: grid;
    grid-template-areas: 
    "header header header"
    "sidebar content1 content1"
    "sidebar content2 content3"
    "footer footer footer"
    ;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    this code is using for responsive designs */

}
.item{
    padding: 2rem;
    border: 1px solid black;
    background-color: rgb(74, 74, 149);
    
}
#header{
    grid-area: header;
}
#sidebar{
    grid-area: sidebar;
}
#content1{
    grid-area: content1;
}
#content2{
    grid-area: content2;
}
#content3{
    grid-area: content3;
}
#footer{
    grid-area: footer;
}